* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: white;
}

body {
    background-color: white;
    text-align: center;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: transparent;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 60px;
    font-weight: bold;
}

nav ul {
    margin: 0 15px;
}

nav ul a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.contact-btn {
    padding: 10px 20px;
    background-color: white;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    padding: 20px;
    text-align: center;
}

.hero h1 {
    font-size: 40px;
    font-weight: bold;
}

.house-container {
    position: relative;
    display: inline-block;
}

.house-container img {
    width: 900px;
    height: 500px;
}

.percentage {
    position: absolute;
    top: 10%;
    right: 10%;
    background: white;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 18px;
}
.features {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    font-style: italic;
}
.feature-box1{
    padding: 20px;
    border-radius: 10px ;
    width: 300px;
    text-align: center;
}

.feature-box2{
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}
.feature-box3{
    padding: 20px;
    border-radius: 10px;
    width: 300;
    text-align: center;
}

.feature-box img {
    width: 80px;
    margin-top: 10px;
}